<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest/manifest.json"/>
    <link rel="icon" type="image/svg+xml" href="/manifest/icon.svg">
    <link rel="icon" type="image/png" href="/manifest/icon-512.png">
    <link rel="icon" type="image/png" href="/manifest/icon-192.png">
    <script>
        if(localStorage.getItem("DarkMode") == 1){
            document.documentElement.style.colorScheme = "dark";
        } else {
            document.documentElement.style.colorScheme = "light";
        }
    </script>
    <link id="favicon" rel="icon" type="image/png">
    <title>オツカレ - <%= file.toUpperCase() %></title>
    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <% if (isJStrue) { %>
        <script src="/js/<%= file %>.js"></script>
    <% } %>
    <% if (isCSStrue) { %>
        <link rel="stylesheet" href="/css/<%= file %>.css">
    <% } %>
</head>
<body>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service.js')
            .then(function(registration) {
                console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function(error) {
                console.log('Service Worker registration failed:', error);
            });
        }
    </script>

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-links" href="/">オツカレ</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-target">
                <ul class="nav navbar-nav">
                    <li><a class="nav-links" href="/" title="Home"><span class="nav-icon glyphicon glyphicon-home"></span></span><span class="visible-xs-inline">　 HOME</span></a></li>
                    <li><a class="nav-links" data-toggle="modal" data-target="#search" title="Search"><span class="nav-icon glyphicon glyphicon-search"></span><span class="visible-xs-inline">　 SEARCH</span></a></li>
                    <li><a class="nav-links" data-toggle="modal" data-target="#favourites" title="Favourites"><span class="nav-icon glyphicon glyphicon-star"></span><span class="visible-xs-inline">　 FAVOURITES</span></a></li>
                    <li><a class="nav-links" onclick="setRandomPage()" title="Random"><span class="nav-icon glyphicon glyphicon-random"></span><span class="visible-xs-inline">　 RANDOM</span></a></li>
                    <li><a class="nav-links" href="/links" title="Links"><span class="nav-icon glyphicon glyphicon-link"></span><span class="visible-xs-inline">　 LINKS</span></a></li>                    
                </ul>
                <hr>
                <ul class="nav navbar-nav navbar-right">          
                    <li><a class="nav-links" data-toggle="modal" data-target="#mobile" title="QR Code"><span class="nav-icon glyphicon glyphicon-qrcode"></span><span class="visible-xs-inline">　 QR CODE</span></a></li>
                    <li><a class="nav-links" onclick="flip()" id="modeTitle"><span class="nav-icon glyphicon glyphicon-adjust"></span><span class="visible-xs-inline">　 <span id="modeName"><!-- Text will be replaced --></span></span></a></li>
                </ul>
                <hr id="install-line">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-links hidden" onclick="installApp()" id="install" title="Install"><span class="nav-icon glyphicon glyphicon-download-alt"></span><span class="visible-xs-inline">　 INSTALL</span></a></li>
                </ul>
                
            </div>
        </div>
        <div class="offline-wrapper hidden">
        <div class="offline">
            <p>
                　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE
            </p>
                　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE　OFFLINE MODE
            <p>
            </p>
        </div>
    </div>
    </nav>
    

    <!-- Search Modal -->
    <div id="search" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="margin-block-start: 10px;">Search</h3>
                </div>
                <div class="modal-header">
                    <input id="search-input" type="text" class="form-control" placeholder="Search...">
                </div>
                <div class="modal-body" id="search-terms">
                    <% for(i=0;i<search.length;i++){ %>
                    <div class="search-link" tabindex="0" data-search="<%= search[i].title %>">
                        <h3><%= search[i].title %></h3>
                        <p><%= search[i].description %></p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- Favourites -->
    <div id="favourites" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="margin-block-start: 10px;">Favourites</h3>
                </div>
                <div class="modal-body" id="favourite-links">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Modal -->
    <div id="mobile" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="margin-block-start: 10px;">QR Code</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;">Want to view this page on another device... Use this QR Code</p>
                    <div id="qrcode"></div>
                    <small style="color: #808080;">Note: Favourites will not be transfered across devices</small>
                </div>
            </div>
        </div>
    </div>

    <div class="container content">
        <% if (favouritable) { %>
            <a id="favourite"></a>
        <% } %>

        <%- content %>
    </div>


</body>
</html>